<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профориентация БГИТУ</title>

    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/scripts/app.js" defer></script>

</head>
<body>

<div class="container">
    <section class="gallery">


        <div class="frame">
            <div class="frame__content text-right">
                <h3>ИВТ</h3>
                <p class="frame-text">Cбалансированная образовательная программа: включает дисциплины по программному и
                    аппаратному обеспечению вычислительных машин, что позволяет выпускникам работать в областях
                    разработки, сопровождения и эксплуатации программного обеспечения, баз данных, Web - технологий,
                    аппаратных средств вычислительных машин.</p>
            </div>
        </div>


        <div class="frame frame_bg">
            <div class="frame__content">
                <div class="frame-media frame-media_left"
                     style="background-image: url(../static/images/09.03.01.jpg); background-size: contain; background-repeat: no-repeat;"></div>
            </div>
        </div>

        <div class="frame">
            <div class="frame__content text-left">
                <h3>ИCТ</h3>
                <p>Направление подготовки, связанное с разработкой и поддержкой программно-технических компонентов
                    информационных систем, внедрением корпоративных информационных систем на платформе 1С:Предприятие и
                    других платформах, технологиями аналитической обработки данных.</p>
            </div>
        </div>

        <div class="frame frame_bg">
            <div class="frame__content">
                <div class="frame-media frame-media_right"
                     style="background-image: url(../static/images/09.03.02.jpg); background-size: contain; background-repeat: no-repeat;"></div>
            </div>
        </div>

        <div class="frame">
            <div class="frame__content text-right">
                <h3>ПрИ</h3>
                <p>Направление подготовки, связанное с разработкой и поддержкой программного обеспечения, построение
                    программных систем, усовершенствование старых программных систем. Бакалавр сумеет разработать
                    конкретные программные продукты и заняться научно-исследовательской деятельностью.</p>
            </div>
        </div>

        <div class="frame frame_bg">
            <div class="frame__content">
                <div class="frame-media frame-media_left"
                     style="background-image: url(../static/images/09.03.04.jpg); background-size: contain; background-repeat: no-repeat; height: 400px;"></div>
            </div>
        </div>

        <div class="frame">
            <div class="frame__content text-left">
                <h3>ПИ</h3>
                <p>Отрасль разработки и применения программного обеспечения, но в конкретной предметной области. В БГИТУ
                    такой областью выбрана экономика и управление. Также прикладная информатика связана с прикладными
                    исследованиями в области цифровой экономики, при этом акцент делается на сквозные цифровые
                    технологии.</p>
            </div>
        </div>


        <div class="frame frame_bg">
            <div class="frame__content">
                <div class="frame-media frame-media_right"
                     style="background-image: url(../static/images/3_ПИ-22.png); background-size: contain; background-repeat: no-repeat; height: 400px;"></div>
            </div>
        </div>

        <div class="frame">
            <div class="frame__content">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NpoMcRoNIS4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </div>
        </div>
        <div class="frame frame_bg">
            <div class="frame__content">
                <a href="{{ url_for("test_9c") }}" class="but_link"> Начать тестирование </a>
            </div>
        </div>
    </section>
</div>
</body>
</html>