{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <div class="login-wrapper">
        <div class="bg">
            <p>Добро пожаловать в систему тестирования "Верное решение", пожалуйста пройдите процесс авторизации!</p>
        </div>
        <div class="login">
            <div class="l_content">
                <h1 class="h">Авторизация</h1>
                <form action="" method="post" name="login" action="{{ url_for('test_9c') }}">
                    {{ FlaskForm.hidden_tag() }}
                    <p>
                        Пожалуйста, введите ваш логин:<br>
                    </p>
                    <div class="form-el"> {{ FlaskForm.login(size=30,autocomplete="off") }}<br></div>
                    <p>
                        Пожалуйста, введите ваш пароль:<br>
                    </p>
                    <div class="form-el"> {{ FlaskForm.password(size=30,autocomplete="off") }}<br></div>
                    <div class="but">
                        <p>{{ FlaskForm.submit }}</p>
                    </div>
                </form>
                <div class="na">
                    <a href="{{ url_for('index') }}">На главную</a>
                    <a href="{{ url_for('register') }}">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}